<% layout('/layouts/boilerplate') %>
    <h1>YelpCamp</h1>
    <p>Welcome to the best website to find campgrounds</p>
    <a class="btn btn-primary" href="/campgrounds">Campgrounds Index</a>
    <a class="btn btn-primary" href="/campgrounds/new">New camp</a>